/* navbar */
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
 */

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }
.navbar{border-radius: 0;}

@media screen and (max-width: 767px) {
	.navbar .navbar-collapse { padding-left: 15px; padding-right: 15px; }

	.navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
	.navbar .nav-collapse .navbar-form { margin: 0; }
	.nav-collapse>li { float: none; }
}


/* teachers */
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}
.navbar-inverse {
    background-color: #7F0000;
    border-color: #FFCCCC;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #430000;
}
.dropdown-menu .divider {
    
    background-color: #7F0000;
}
h2.table-header{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
